.navbar {
    display: flex;
    flex-direction: row;
    height: 4rem;
    justify-content:space-between;
    align-items: center;
    padding: 0 1.4rem;
    background-color: var(--grisOscuro);
    border-bottom: 2px solid var(--verdeEmpresa);

    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 999;
}

.navbar img {
    width: 100%;
    height: 100%;
}

.navbar ul{
    display: flex;
    list-style: none;
    width: auto;
}

.navbar ul li {
    float: right;
    margin-left: 2.38rem;
}

.navbar ul li a {
    color: var(--blanco);
}

.navbar select {
    width: 3.4rem;
    background: none;
    color: var(--blanco);
    text-decoration: underline;
    outline: none;
    border: none;
    margin-right: 1.3rem;
    text-align: center;
}

.navbar select option {
    text-align: center;
    color: var(--grisOscuro);
}

.navbar select option:hover {
    color: var(--verdeBoton);
    background-color: var(--gris);
}

.navbar button {
    width: 6.2rem;
    height: 1.6rem;
    font-size: 0.8rem;
}