.landingPage {
    width: 100vw;
    height: calc(100vh - 4rem);
    flex-shrink: 0;
    background: url("./fondoLanding.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-left: 56vw;
    padding-top: 23vh;
}

.promo img {
    width: 20vw;
    margin-bottom: 4.3rem;
}

.promo p {
    font-weight: bold;
    font-size: 1.4vw;
    margin-bottom: 1rem;
}

.cta {
    border-radius: .5rem;
    font-weight: bolder;
    font-size: 1rem;
    width: 19vw;
    height: 5.3vh;
    background-color: var(--verdeEmpresa);
}

.flechaAbajo {  
    margin-top: 19vh;
    margin-left: 47.5vw;
    width: 5vw;
    height: 4.4vh;
    cursor: pointer;
}

.flechaAbajo img {
    cursor: pointer;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.125vw 0;

}

section div {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    margin-top: 2vw;
}

section div div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loQueNecesitas {
    height: 34.4vh;
    background-color: #d9d9d9;
    padding: 3.125vw 0;
}

.cosaQueNecesitas {
    width: 11vw;
    height: 15.3vh;
}

.cosaQueNecesitas h3 {
    font-size: 1.8vw;
    text-align: center;
}

.cosaQueNecesitas img {
    width: 7.5vh;
    height: 7.5vh;
}

.cosaQueNecesitas span {
    font-size: .9vw;
    text-align: center;
}

.landing h1 {
    font-size: 2.58vw;
    padding-top: 0;
}

.pasosHipoteca {
    padding-bottom: 25vh;
}

.pasos {
    justify-content: center;
    margin-top: 13vh;
}

.pasos div {
    margin-left: 2.58vw;
    margin-top: 0;
}

.pasos div:first-child {
    margin-left: 0;
}

.paso {
    width: 12vw;
}

.paso h3 {
    font-size: 1.8vw;
}

.paso span {
    font-size: 1vw;
    text-align: center;
}

.numeroPaso {
    font-size: 10vw;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: var(--verdeBoton);
}

.faqs {
    background-color: #d9d9d9;
    padding: 6vh 0;
}

.faqs h1 {
    margin-bottom: 2vw;
}

.faq {
    width: 46.8vw;
    flex-direction: column;
    align-items: normal;
    margin-top: 0;
}

.faq div {
    width: inherit;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
}

.faq div p {
    color: var(--verdeBoton);
    font-size: 1.6vw;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.faq div img {
    width: 3.75vh;
    height: 3.75vh;
    cursor: pointer;
}

.faq span {
    font-size: 1.25vw;
    color: var(--grisOscuro);
    overflow: hidden;
    transition: height ease-in-out 0.3s, margin-top ease-in-out 0.3s;
}

.faq hr {
    margin-top: 1vh;
    border-color: #d9d9d9;
    margin-bottom: 1.2vh;
}