@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --grisOscuro: #333333;
  --verdeEmpresa: #64feda;
  --blanco: #fafafa;
  --verdeBoton: #399C85;
  --gris: #ccc;
  --verdeOscuro: #286758;
  --grisMenu: #d9d9d9;
  --verdeChat: #4EC19D;
  
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  background-color: var(--blanco);
  overflow-x: hidden;
}

button {
  font-family: 'Roboto', sans-serif;
  border-radius: 0.3125rem;
  border: none;
  background: var(--verdeBoton);
}
a {
  text-decoration: none;
  color: var(--grisOscuro);
}

p {
  font-size: 1rem;
}

input[type="text"], 
input[type="password"],
textArea, 
input[type="number"] {
    margin-bottom: 2.25rem;
    border: none;
    border-radius: 0.4rem;
}

input[type="text"], 
input[type="password"], 
input[type="number"] {
    height: 6vh;
    text-indent: 1.25vw;
    font-size: 1rem;
}

input[type="text"]::placeholder, 
input[type="password"]::placeholder,
textArea::placeholder, 
input[type="number"]::placeholder {
    color: var(--verdeBoton);
}

.link {
  text-decoration: underline;
  color: var(--verdeBoton);
}

button, select, input[type="checkbox"], input[type="radio"] {
  cursor: pointer;
}

h1 {
  padding-top: 2.25rem;
  font-size: 2rem;
  text-align: center;
}

label {
  font-size: 1rem;
}

#root > div,
#rootApp > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

#root > div {
  margin-top: 4rem;
}

.checkboxDiv {
  display: flex;
  align-items: center;
}

#checkbox {
  width: 1.625vw;
  height: 1.625vw;
  margin-right: 0.5rem;
  background-color: white;
  appearance: none;
  outline: none;
  border: 1px solid var(--grisOscuro);
  border-radius: 25%;
}
#checkbox:checked {
  background-color: var(--verdeEmpresa);
}

input:disabled {
  background-color: #eee;
}

input::-webkit-scrollbar,
textarea::-webkit-scrollbar,
div::-webkit-scrollbar {
  width: 0.625rem;
}

input::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track,
div::-webkit-scrollbar-track {
  border-radius: 1rem;
  background: #f1f1f1;
}

input::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 1rem;
}

input::-webkit-scrollbar-thumb:hover,
textarea::-webkit-scrollbar-thumb:hover,
div::-webkit-scrollbar-thumb:hover {
background: #555; 
}

@media screen and (min-width: 1920px) {
  h1 {
      font-size: 2.5rem;
  }

  label {
    font-size: 1.25rem;
  }

}