#simulador {
    width: 82vw;
    height: 69vh;
    background-color: #d9d9d9;
    border-radius: 25px;
    padding: 4vh 3.2vw;
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#datosFormulario,
#resultadoFormulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}

#simulador > div > .formulario {
    display: flex;
}

#simulador > div > .formulario > div > div:first-child {
    display: flex;
}

#simulador > div > .formulario > div > div:first-child img {
    margin-right: .5vw;
}

.radioInput, 
.textInput {
    width: 16vw;
}

.textInput > p {
    font-weight: bold;
    text-align: center;
    font-size: 1.25vw;
    margin-top: .8vw;
}

.explicacion {
    width: 100%;
}

.textInput > span {
    display: inline-block;
    font-size: 1.1vw;
    text-align: center;
    white-space: break-spaces;
}

.radioInput > p {
    font-weight: bold;
    text-align: center;
    font-size: .94vw;
    margin-top: .8vw;
}
.opciones .opcion {
    display: flex;
    align-items: center;
    background-color: var(--blanco);
    padding: 0.86vw;
}

.opciones .opcion:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    margin-top: .8vw;
}

.opciones .opcion:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


.radioInput input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    width: 2vw;
    height: 3.6vh;
    border: 0.1em solid var(--verdeBoton);
    border-radius: 50%;
    margin-right: 1.25vw;

}

.radioInput input[type="radio"]:checked {
    background-color: var(--verdeBoton);
}

.textInput > div {
    display: flex;
    align-items: center;
    margin-top: 1vh;
    position: relative;
}

.textInput > div > input {
    margin-bottom: 0;
    width: 100%;
}

.textInput > div > span {
    position: absolute;
    right: 1vw;
    color: var(--grisOscuro);
    font-size: 1.7vw;
}

.datos {
    display: flex;
}

.datos > div {
    margin-right: 3vw;
}

#datosFormulario hr {
    border: 1px solid var(--verdeBoton);
    height: 62vh;
    margin: 0 6vh;
    position: relative;
    top: -1.25vh;
}

#simulador > div > button {
    width: 25.6vw;
    height: 6vh;
    color: var(--blanco);
    font-size: 1.7vw;
    font-weight: bold;
}

.resultado {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.chartDiv {
    width: 19.92vw;
    height: 35.41vh;
}

.resumenChart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leyendaContainer {
    margin-top: 4.5vh;
}

.leyendaDiv {
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
}

.leyendaDiv > p {
    margin-left: .5vw ;
}

.leyendaRecuadro {
    width: 1.25rem;
    height: 1.25rem;
}

.grisOscuro {
    background-color: var(--grisOscuro);
}

.verde {
    background-color: var(--verdeBoton);
}

.resultado h2, .resultado h3 {
    font-size: 1.875vw;
    color: var(--verdeBoton);
}

.mensualidad span {
    font-size: 1.25vw;
}

.resultado hr {
    border: 1px solid var(--verdeBoton);
}

.resumenDatos {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.resultado p {
    font-size: 1.1vw;
}

.opcionesHipotecas {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 1.4vw;
}

.opcionesHipotecas > h1 {
    padding: 0;
}

.opcionesHipotecas > div {
    display: flex;
    align-items: center;
    gap: 1.4vh;
}

.opcionesHipotecas > div > hr {
    border: 1px solid var(--verdeBoton);
    height: 41.5vh;
}

.opcionHipoteca {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    padding: 0.78vw;
    border-radius: 0.4vw;
    border: 2px solid transparent;
}

.opcionHipoteca h2 {
    font-size: 1.875vw;
    color: var(--verdeBoton);
}

.opcionHipoteca:hover {
    background-color: var(--verdeBoton);
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.opcionHipoteca:hover h2 {
    color: #fafafa;
    transition: all ease-in-out 0.3s;
}

.opcionSeleccionada {
    background-color: var(--verdeBoton);
    border: 2px solid var(--verdeEmpresa);
    cursor: pointer;
}

.opcionSeleccionada h2 {
    color: #fafafa;
}

.parteMixta {
    font-size: 1.4vw !important;
    margin-top: 1.5vh;
}

.parteMixta:first-of-type {
    margin: 0;
}

.botones {
    display: flex;
    gap: 1.17vw;
    margin-top: 6.25vh;
}

.botones button {
    width: 19.77vw;
    height: 6vh;
    font-size: 1.72vw;
    font-weight: bold;
    color: #fafafa;
    border-radius: 0.78vw;
}

.botonSecundario {
    color: var(--verdeBoton) !important;
    background-color: transparent;
    border: 2px solid var(--verdeBoton);
}

.tooltip {
    width: 100px !important;
    position: sticky !important;
}

#mensualidades {
    display: flex;
    align-items: center;
    gap: 1.7vw;
}

.resultadoMensualidades {
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 2vh;
}

.mensualidad {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-bottom: 1.5rem;
}

.gastosExtra {
    margin-bottom: 0 !important;
}

.gastosExtra h2 {
    color: var(--grisOscuro);
}
@media screen and (max-width: 768px) {
    #simulador {
        height: auto;
    }

    .formulario {
        flex-direction: column;
    }

    .formulario h2 {
        font-size: 1.375rem;
    }

    .datos, .datos > div {
        margin-top: 0.5rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        margin-right: 0;
    }

    .datos > div:last-child {
        margin-top: 0;
    }

    .datos > div > p {
        font-size: 1rem !important;
        margin-top: 0 !important;
    }

    .radioInput, .textInput {
        width: 53.6vw;
    }
    .radioInput p {
        font-size: .75rem;
        margin-bottom: 0.6rem;
    }

    .textInput > div > input {
        text-indent: 1rem;
    }

    .textInput p {
        font-size: 1rem;
    }
    .textInput span {
       font-size: 0.875rem; 
    }
    .textInput div span {
        font-size: 1.375rem;
        margin-right: 0.5rem;
    }
    .opciones .opcion {
        padding: 3.33vw;
    } 
    .radioInput input[type="radio"] {
        width: 7.22vw;
        height: 7.22vw;
    }
    #simulador hr {
        display: none;
    }
    .prestamo {
        margin-top: 1rem;
    }
    #simulador > div > button {
        width: 53.6vw;
        border-radius: 0.625rem;
        margin-top: 4.375vh;
        font-size: 1rem;
    }


    .opcionesHipotecas h1 {
        font-size: 1.375rem;
    }

    .opcionesHipotecas hr {
        height: 0 !important;
        width: 100%;
        display: block !important;
    }

    .opcionesHipotecas > div {
        flex-direction: column;
    }
    .opcionHipoteca h2 {
        font-size: 1.5rem;
    }
    .parteMixta {
        font-size: 1.25rem !important;
    }
    .botones {
        flex-direction: column;
        margin-top: 1rem;
    }
    .botones button {
        width: 70.27vw;
        border-radius: 0.625rem;
        font-size: 1.375rem;
    }



    .resultado {
        flex-direction: column;
        gap: 1rem;
    }
    .chartDiv {
        width: 43vw;
    }
    .leyendaContainer {
        margin-top: 0;
    }
    .leyendaContainer p {
        font-size: 0.75rem;
    }
    .resultadoMensualidades h2 {
        font-size: 1.5rem;
    }
    .resultadoMensualidades span {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1920px) {
    .textInput > div > input {
        font-size: 1.25rem;
    }
}