.baseDatos {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.listaTabla {
    width: 92%;
    height: 31.7rem;
    background: var(--blanco);
    border-radius: 1.5rem;
    margin: 0.56rem 0;
    padding: 1rem 1.56rem;
}

.listaTabla > div {
    display: flex;
    flex-direction: column;
    height: 25.5rem;
    width: 100%;
    overflow-y: auto;
    gap: 0.5rem;
    margin-top: 1rem;

}

.registro {
    width: 96%;
    height: 3rem;
    border-radius: 15rem;
    background: var(--gris);
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;

    position: relative;
}

.registro p {
    font-size: 1.375rem;
    min-width: 9.5rem;
    text-align: end;
    color: #333;
}

.nuevoRegistro {
    width: 47rem; 
    display: flex;
    justify-content: center;
}

.crearNuevoRegistro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nuevoRegistroInputs {
    display: flex;
    flex-direction: row !important;
    gap: 1rem;
    align-items: flex-end;
    height: fit-content !important;
    width: fit-content !important;
}

.nuevoRegistroInputs input {
    background-color: var(--grisMenu);
    color: var(--grisOcuro);
}

.nuevoRegistroBoton, .cancelarBoton {
    width: 13rem;
    height: 2.7rem;
    font-weight: bold;
    color: var(--blanco);
    background-color: var(--verdeBoton);
    border-radius: 0.7rem;
    margin: 0 auto;
}

.cancelarBoton {
    color: var(--verdeBoton) !important;
    background-color: transparent;
    border: 2px solid var(--verdeBoton);
}

.registro > div {
    display: flex;
    align-items: center;
    position: relative;
}

.registro > div > input {

    width: 12rem;
    height: 2.5rem;
    border-radius: 1.5rem;
    font-size: 1.375rem;
    color: #333;
    margin: 0 0.5rem;
}

.registro > div > span {
    font-size: 1.375rem;
    position: absolute;
    z-index: 1;
    right: 1rem;

}

.tick {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
.eliminar {
    width: 2rem;
    height: 2rem;
    filter: brightness(0) saturate(100%) invert(35%) sepia(98%) saturate(595%) hue-rotate(318deg) brightness(89%) contrast(82%);
    position: absolute;
    right: 1rem;
    cursor: pointer;
}

.baseDatosMovil {
    width: 100%;
    height: 100vh;
}

@media screen and (max-width:768px) {
    .baseDatos {
        display: none;
    }

    .listaTabla {
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        border-radius: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .listaTabla > div:last-child {
        width: 92%;
        height: 77vh;
    }

    .listaTabla > div:first-child {
        flex-direction: row;
        width: 100vw;
        height: 4.5rem;
        background-color: var(--verdeBoton);
        align-items: center;
        gap: 0.75rem;
        margin-top: 0;
        padding-left: 0.5rem;
    }

    .listaTabla > div:first-child img {
        width: 1.375rem;
        height: 1.375rem;
    }

    .registro {
        width: auto;
        height: 3.5rem;
        padding: 0;
    }

    .registro p {
        width: 32vw;
        min-width: auto;
        font-size: 1rem;
    }

    .registro > div > input {
        width: 28vw;
        font-size: 1rem;
        text-indent: 0.8rem;
    }

    .registro > div > span {
        font-size: 1rem;
    }

    .eliminar {
        width: 1.5rem;
        height: 1.5rem;
    }

    .nuevoRegistroInputs {
        flex-direction: column !important;
    }
}