.contacto {
    width: 100%;
}

.contacto .metodos {
    display: flex;
    margin: 0 6vw;
    margin-top: 2rem;
    margin-bottom: 8vh;
    justify-content: space-between;
    align-items: center;
}

.formulario h1 {
    padding-top: 2.5rem;
    text-align: center;
}

.contacto .formulario {
    width: 18rem;
    padding: 2rem;
    background-color: #d9d9d9;
    border-radius: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto .formulario h2 {
    font-size: 1.5rem;
    margin-bottom: 2.25rem;
}

.contacto .formulario .datos {
    width: 18rem;
    display: flex;
    flex-direction: column;
}

.datos input {
    height: 2.5rem;
    text-indent: 1rem;
    margin-bottom: 1rem;
}

.datos textArea {
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    height: 4rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.datos button {
    margin-top: 1rem;
    height: 2.5rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.75rem;
    color: var(--blanco);
    background-color: var(--verdeOscuro);
}

.datos div {
    display: flex;
    align-items: center;
}

#checkbox {
    width: 2rem;
    height: 1.38rem;
    margin-right: 0.4rem;
    background-color: white;
    appearance: none;
    outline: none;
    border: 1px solid var(--grisOscuro);
    border-radius: 25%;
    margin-bottom: 0;
}
#checkbox:checked {
    background-color: var(--verdeEmpresa);
}

.datos label {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}

.alternativos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 41vw;
}

.alternativos h2 {
    font-size: 1.5rem;
}

.alternativos .alternativo {
    display: flex;
    align-items: center;
    width: 13rem;
    margin-top: 1.2rem;
}

.alternativos .alternativo img {
    width: 3.1rem;
    height: 3.1rem;
    margin-right: 1rem;
}

.linea {
    color: var(--verdeEmpresa);
    display: flex;
    align-items: center;
    margin: 2.5rem 0;
}

.linea hr {
    border: none;
    border: 1px solid var(--verdeEmpresa);
    width: 15rem;
}

.linea span {
    margin: 0 0.8rem;
    font-size: 1.5rem;
}

.alternativos .redes {
    margin-top: 2rem;
}

.alternativos .redes img {
    width: 3.1rem;
    height: 3.1rem;
    margin-left: 1.5rem;
}

@media screen and (max-width: 768px) {
    .metodos {
        flex-direction: column;
        gap: 2rem;
    }

    .contacto .formulario {
        width: 90%;
        padding: 7.5vw;
    }

    .contacto .formulario .datos {
        width: 100%;
    }

    .alternativos h2 {
        width: 95vw;
        font-size: 1.3rem;
        text-align: center;
    }

    .linea hr {
        width: 40vw;
    }

    .alternativos .redes {
        display: flex;
        gap: 1.5rem;
        width: fit-content;
    }

    .alternativos .redes img {
        margin: 0;
    }
}

@media screen and (min-width: 1920px) {
    .contacto .metodos {
        margin: 3rem 12vw;
    }

    .datos input {
        margin-bottom: 1.5rem;
    }

    .datos button {
        margin-top: 1.5rem;
    }
}